<div id="new-file-dialog" title="Create New Diagram">
  <p>Create a new diagram, with specified parameters</p>
  <form class="pure-form">
    <table class="pure-table pure-table-bordered">
      <tbody>
        <tr>
          <td>
            Rows
          </td>
          <td>
            <input id="new-file-rows" />
          </td>
        </tr>
        <tr class="pure-table-odd">
          <td>
            Columns
          </td>
          <td>
            <input id="new-file-cols" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="dialog-footer">
    <a id="new-file-button" class="pure-button" href="#">Create</a>
  </div>
</div>
<style>
  .dialog-footer {
    bottom: 0;
    right: 0;
    position: absolute;
  }
</style>