<h4 class="optionsTitle">Single Triangle Options</h4>
<hr>
<div>
  <table style="width:100%;table-layout:fixed; border:0px" class="tool-options-table">
    <tbody>
      <tr>
        <td>Stroke Color</td>
        <td>
          <div id="triangleStrokeColorPicker" class="color-picker-box">
            <div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fill</td>
        <td>
          <input id="triangleFill" type="checkbox">
        </td>
      </tr>
      <tr id="fillColorRow" style="display: none;">
        <td>Fill Color</td>
        <td>
          <div id="triangleFillColorPicker" class="color-picker-box">
            <div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tool Size</td>
        <td>
          <input id="triangleToolSize" type="number" style="width:80%;" />
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <span class="custom-icon-select">
            <select id="triangle-type-option" class="pure-button">
              <option value="basic" data-class="fas fa-caret-up">
                Basic</option>
              <option value="upSideDown" data-class="fas fa-caret-down">
                Up-Side-Down</option>
            </select>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <style>
    #triangle-type-option-button {
      width: 10em;
    }
  </style>
</div>