html, body {
  height: 100%;
  margin: 0;
}
#main-container {
  justify-content: space-between;
}
#canvas-container {
  margin-top:0.5em
}
#tool-bar {
  width: 100%;
  height: 8%;
  background-color:blueviolet;
  position: relative;
}
#tool-bar div.tool-bar-container {
  position: absolute;
  bottom:0px;
}

a.tool-bar-dropdown {
  color:white;
}

ul.tool-bar-nested-children{
  width:500px;
}

#tool-footer {
  width: 100%;
  height: 9.5%;
  bottom: 0;
  position: absolute;
  background-color: cornflowerblue;
}
#tool-footer div{
  padding-top:1em;
  padding-left:0.5em;
}
#tool-window {
  height: 80%;
  display: inline-block;
  background-color: aqua;
  padding:0.5em;
}
div.tool-row {
  margin-top:0.25em;
}
#tool-options {
  float: right;
  height: 80%;
  background-color: aqua;
  padding:0.5em;
  position: relative;
}
#global-tools {
  position: absolute;
  bottom:0;
  margin-bottom:1em;
  width:90%;
}
#origami-editor {
  width:100%;
  height: 80%;
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  display: inline-block;
  border:1px solid black;
  cursor: pointer;
}
#origami-editor.cursor-magnify-plus {
  cursor: url(../img/search-plus-solid.png), zoom-in
}

#origami-editor.cursor-magnify-minus {
  cursor: url(../img/search-plus-minus.png), zoom-out
}

#origami-editor.cursor-pan {
  cursor: url(../img/arrows-alt-solid.png), move
}

#origami-editor.cursor-eraser {
  cursor: pointer;
}
/*Possibly move cursor origin*/
/*https://stackoverflow.com/questions/19560878/css-change-custom-cursor-image-origin-hotspot-to-center*/
#origami-editor.cursor-triangle {
  cursor: pointer
}
#popover {
  position: absolute;
  float: left;
}
.magnify-box {
  width:200px !important;
  height:200px !important;
  border: 1px solid black;
  pointer-events: none;
  z-index:100;
}
.eraser-box{
  background-color: gray;
  pointer-events: none;
  z-index:100;
  opacity: 0.8;
}
.pure-button {
  border:0.5px solid black;
}
.pure-button-active {
  background-color:#aa9e9e;
}
button.tool-button {
  min-width: 49px
}
div.color-picker-box {
  position: relative;
	width: 36px;
	height: 36px;
  background: url(../lib/colorpicker/images/select2.png);
}
div.color-picker-box div {
  position: absolute;
  top: 4px;
	left: 4px;
  width: 28px;
  height: 28px;
  background: url(../lib/colorpicker/images/select2.png) center;
}


/*Simple navbar https://codepen.io/philhoyt/pen/ujHzd*/
#primary_nav_wrap
{
  margin-top:15px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;
  z-index: 10000;
}