#layer-manager {
  padding:0
}
#layer-manager div.tool-footer {
  /* display: inline-flex; */
  width: auto;
  height: auto;
  bottom: 0;
  position: absolute;
  background-color: cornflowerblue;
}

button.layer-button {
  min-width: 0;
  padding: 1px 6px;
}