#layer-manager {
  padding:0
}
#layer-manager div.layer-footer {
  display: inline-flex;
  width: auto;
  height: auto;
  bottom: 0;
  position: absolute;
}

#layer-manager div.layer-container {
  width:99%;
  min-height:200px;
  margin-top:0.25em;
  background-color:#d3d3d3;
  border:0.5px solid #0000003d;
}

span.layer-name {
  color:white;
}

button.layer-button {
  min-width: 0;
  padding: 1px 6px;
}

div.layer-row {
  border:0;
  display: flex;
  padding-bottom: 0.15em;
  padding-top: 0.17em;
  padding-left: 0.1em;
  cursor: pointer;
  background-color:#b7b4b4;
}

div.layer-row.selected {
  background-color: #418ad4;
}

div.layer-row button.layer-row-button {
  min-width: 0;
  padding: 8px 3px;
  border:0.5px solid #808080c4;
  border-radius: 0;
}

div.layer-row span.layer-name{
  padding-top: 13px;
  padding-left: 0.5em;
  font-size: 9px;
}

.icon-button.tiny-icon-button.footer-layer-icon {
  width: 33px;
}

/*UI modal background */
.ui-widget-overlay {
  opacity: 0.5;
}