<h4>Magnify Options</h4>
<div>
  <table style="width:100%;table-layout: fixed;" class="pure-table">
    <thead>
      <tr>
        <th>Option</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Scale</td>
        <td>
          <input 
          id="scale_amount"
          min="1"
          max="100" 
          type="number"
          step="1"
          style="width:75%;"
          />
          <span style="display:inline;">%</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>