<h4 class="optionsTitle">Single Triangle Options</h4>
<div>
  <table style="width:100%;table-layout: fixed;" class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Option</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stroke Color</td>
        <td>
          <div id="triangleStrokeColorPicker" class="color-picker-box">
            <div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fill</td>
        <td>
          <input id="triangleFill" type="checkbox">
        </td>
      </tr>
      <tr id="fillColorRow" style="display: none;">
        <td>Fill Color</td>
        <td>
          <div id="triangleFillColorPicker" class="color-picker-box">
            <div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tool Size</td>
        <td>
          <input id="triangleToolSize" type="number" style="width:80%;" />
        </td>
      </tr>
    </tbody>
  </table>
</div>