<h4>Single Triangle Options</h4>
<div>
  <table style="width:100%;table-layout: fixed;" class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Option</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stroke Color</td>
        <td>
          <div id="triangleStrokeColorPicker" class="color-picker-box">
            <div style="background-color:blue" />
          </div>
        </td>
      </tr>
      <tr>
        <td>Fill</td>
        <td>
          <input id="triangleFill" type="checkbox">
        </td>
      </tr>
      <tr id="fillColorRow" style="display: none;">
        <td>Fill Color</td>
        <td>
          <div id="triangleFillColorPicker" class="color-picker-box">
            <div style="background-color:blue" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>